body {
	background: #f9a411;
	width: 702px;
	font-family: helvetica, arial, sans-serif;
	margin: 0 auto;
	padding: 40px 0 0 0;
	font-size: 300%;
	font-family: 'Open Sans',sans-serif;
	font-weight: 300;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
